{% extends 'consultas.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario</title>
    {% block codigo %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    {% endblock %}
</head>
<body>
  {% block calendario %}
    <div class="container">
        <div id="calendar"></div>
    </div>
    <script>
        $(document).ready(function() {
            var events = [
                {% for event in events %}
                    {
                        title: "{{ event.title }}",
                        start: "{{ event.start_time }}",
                        start: "{{ event.start_time }}",
                    end: "{{ event.end_time }}"
                },
            {% endfor %}
        ];

        $('#calendar').fullCalendar({
            events: events,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
        });
    });
</script> 
{% endblock %}
</body>

