{% extends 'base.html' %}
{% block base %}
{% load static %}

<div class="text-center text-white bg-success ">
    <h1><i class="fa-solid fa-house-medical p-3"></i> Nuestro centro medico </h1>
    <hr>
    <h3><i class="fa-brands fa-pagelines p-3"></i>Clinica los alamos, Bienestar y atencion para tí </h3>
</div>
{% if show_modal %}
  <div class="modal fade show" id="loginSuccessModal" tabindex="-1" aria-labelledby="loginSuccessModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginSuccessModalLabel">Inicio de sesión exitoso</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="hideModal()"></button>
        </div>
        <div class="modal-body">
          <p>Bienvenido, has iniciado sesión correctamente.</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
<br>

<div class="row m-3 " >
    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 42rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_2.png' %}" alt="Card image cap">
          <div class="card-body">
            <i class="fa-solid fa-hand-point-up  fa-2xl"></i>
              <h5 class="card-title m-3">Reserva hora</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 42rem;">
          <img class="card-img-top" src="{% static 'core/img/nosotros.png' %}" alt="Card image cap">
            <div class="card-body">
                <i class="fa-solid fa-hands-holding fa-2xl"></i>
              <h5 class="card-title m-3">Sobre nosotros</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center" > 
        <div class="card" style="width: 18rem; height: 42rem;">
          <img class="card-img-top" src="{% static 'core/img/Porcesimientos.png' %}" alt="Card image cap">
            <div class="card-body">
                <i class="fa-solid fa-bed-pulse fa-2xl"></i>
              <h5 class="card-title m-3">Procedimientos</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 42rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_3.png' %}" alt="Card image cap">
            <div class="card-body">
                <i class="fa-solid fa-hand fa-2xl"></i>
              <h5 class="card-title m-3">Consultas</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>
              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
        
    </div>
</div>

<br>
<script>
  function hideModal() {
    var modal = document.getElementById('loginSuccessModal');
    modal.style.display = 'none';
  }
</script>
{% endblock %}

