{% extends 'base.html' %}
{% block base %}
{% load static %}

<div class="text-center text-white bg-success ">
    <h1><i class="fa-solid fa-house-medical p-3"></i> Nuestro centro medico </h1>
    <hr>
    <h3><i class="fa-brands fa-pagelines p-3"></i>Clinica los alamos, Bienestar y atencion para tí </h3>
</div>

<br>

<div class="row m-3 " >
    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 40rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_2.png' %}" alt="Card image cap">
          <div class="card-body">
            <i class="fa-solid fa-users fa-2xl"></i>
              <h5 class="card-title m-3">Reserva hora</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 40rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_2.png' %}" alt="Card image cap">
            <div class="card-body">
              <i class="fa-solid fa-truck-ramp-box fa-2xl"></i>
              <h5 class="card-title m-3">Sobre nosotros</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center" > 
        <div class="card" style="width: 18rem; height: 40rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_2.png' %}" alt="Card image cap">
            <div class="card-body">
              <i class="fa-solid fa-handshake-simple fa-2xl"></i>
              <h5 class="card-title m-3">Procedimientos</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>

              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
    </div>

    <div class="col-3 text-center">
        <div class="card" style="width: 18rem; height: 40rem;">
          <img class="card-img-top" src="{% static 'core/img/fondo_2.png' %}" alt="Card image cap">
            <div class="card-body">
              <i class="fa-solid fa-rectangle-xmark fa-2xl "></i>
              <h5 class="card-title m-3">Consultas</h5>
              <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, quod sed possimus eum ab laborum a, soluta nisi odio enim fugit! Saepe quisquam voluptate id voluptates quas quod qui quos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eaque exercitationem mollitia veniam neque sint blanditiis, officiis ipsam velit iure autem tempora quasi nam reprehenderit iste, sit accusantium? Commodi, deserunt.</p>
              <a href="#" class="btn btn-outline-info">Ir</a>
            </div>
          </div>
        
    </div>
</div>

<br>




{% endblock %}

