    {% extends 'base.html' %}
    {% load static %}
    {% block base %}

<body class="pag">
    {% load crispy_forms_tags %}
    <br><br><br><br><br><br><br><br>
      <center><div class="container wrapper" >
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 logi">

               <div class="card">
                <div class="card-body">
                    <h2>Iniciar Sesión</h2>
                    <hr>
                    <form action="" method="post"> {% csrf_token %}
                        {{ form | crispy }}

                        <div class="input-title">Email</div>
                        <input type="email" id="email" class="form-control" name="email" required="">
                        <div class="input-title">Contraseña</div>
                        <input type="password" id="password" class="form-control" name="password" required="">
<br>                    
                        {% for error in login_form.field.errors %}
                            <small style="color: rgb(197, 16, 16);">{{ errors }}</small>
                        {% endfor %}
                        {% if login_form.non_field_errors %}
                            <small style="color: rgb(197, 16, 16);">{{ login_form.non_field_errors }}</small>
                        {% endif %}

                        <div class="checkbox mb-3">
                            <label id="checkbox-text">
                                <input type="checkbox" value="remember-me">
                                Recordar contraseña
                            </label>
                        </div>

                        <button class="botonn btn btn-primary" href="">Ingresar</button>
                    
                    </form>
                    <a class="" href="{%url 'registro'%}">¿No estás registrado?</a>
                </div>
               </div> 

            </div>
        </div>
    </div></center>
    <br>
</body>

{% endblock %}