{% extends 'base.html' %}

{% load static %}

{% block base %}

<body class="pag">
    {% load crispy_forms_tags %}
    <br><br><br><br>
      <center><div class="container wrapper" >
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 logi">

               <div class="card">
                <div class="card-body">
                    <h2>Registro</h2>
                    <hr>
                    <form action="" method="post"> {% csrf_token %}
                        {{ form | crispy }}
                        <div class="input-title">Email</div>
                        <input type="email" id="email" class="form-control" name="email" required="">
                        <div class="input-title">Contraseña</div>
                        <input type="password" id="password1" class="form-control" name="password1" required="">
                        <div class="input-title">Confirmar contraseña</div>
                        <input type="password" id="password2" class="form-control" name="password2" required="">
                        <div class="input-title">Nombre y apellido</div>
                        <input type="text" id="nombre" class="form-control" name="nombre" required="">
                        <div class="input-title">RUT</div>
                        <input type="text" id="rut" class="form-control" name="rut" required="">
                        
                        <hr class="mb-2">

                        <div class="checkbox mb-3" >
                          <label for="checkbox">
                            <input type="checkbox"  data-parsley-mincheck="1" required data-parsley-required-message="Debes aceptar los términos de acuerdo.">
                            Acepto los términos y condiciones.
                          </label>
                        </div>

                        {% if registration_form.errors %}
                            <div class="alert alert-danger">
                                {{ registration_form.errors }}
                            </div>
                        {% endif %}

                        <button class="botonn btn btn-dark" href="">Registrarse</button>
                    
                    </form>
                    <a class="" href="{%url 'acceder'%}">¿No estás registrado?</a>
                </div>
               </div> 

            </div>
        </div>
    </div></center>
    <br>
</body>

{% endblock %}