{% extends 'base.html' %}
{% load static %}
{% block base %}

<body class="pag">
{% load crispy_forms_tags %}
<br><br><br><br><br><br><br><br>
  <center><div class="container wrapper" >
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 logi">

           <div class="card">
            <div class="card-body">
                <h2>Recuperar contraseña</h2>
                <hr>
                <form action="" method="post"> {% csrf_token %}
                    {{ form | crispy }}

                    <div class="input-title">Ingresa el mail de tu cuenta</div>
                    <input type="email" id="email" class="form-control" name="email" required="">
                    <button class="botonn btn btn-primary" type="submit" href="">Ingresar</button>
                
                </form>
            </div>
            {% if user_exists %}
  <p>El usuario existe.</p>
{% elif user_exists is False %}
  <p>El usuario no existe.</p>
{% endif %}
           </div> 

        </div>
    </div>
</div></center>
<br>
</body>

{% endblock %}