{% extends 'base.html' %}
{% load static %}
{% block base %}

<body class="pag">
{% load crispy_forms_tags %}
<br><br><br><br><br><br><br><br>
  <center><div class="container wrapper" >
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 logi">

           <div class="card">
            <div class="card-body">
                <h2>Recuperar contraseña</h2>
                <hr>
                <form action="" method="post"> {% csrf_token %}
                    {{ form | crispy }}
                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="input-title">Ingresa tu contraseña nueva</div>
                    <input type="password"  class="form-control" name="new_password" required="">
                    <div class="input-title">Confirma tu contraseña nueva</div>
                    <input type="password"  class="form-control" name="confirm_password" required="">
                    <input type="hidden" name="user_id" value="{{user_id}}">
                    <button class="botonn btn btn-primary" type="submit" href="">Ingresar</button>
                </form>
            </div>
           </div> 
        </div>
    </div>
</div></center>
<br>
</body>

{% endblock %}