{% extends 'base.html' %}
{% load static %}
{% block base %}

<body class="pag">
{% load crispy_forms_tags %}
<br><br><br><br><br><br><br><br>
  <center><div class="container wrapper" >
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3 logi">

           <div class="card">
            <div class="card-body">
                <h2>Recuperar contraseña</h2>
                <br>
                <img id="email-vimg" src="https://www.nicepng.com/png/detail/960-9602830_email-verification-email-verify-icon-png.png">
                <br>
                <h2>¡Se envió un enlace de recuperación de contraseña a tu correo!</h2>
                <p>Te hemos enviado un enlace con las instrucciones para reestablecer tu contraseña.</p>
            </div>
           </div> 
        </div>
    </div>
</div></center>
<br>
</body>

{% endblock %}